<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <h2>Password Reset Email</h2>
    <p>Hello {{ username }},</p>
    <p>We have received a request to reset your password. Please click the link below to reset your password:</p>
    <p><a href="{{ reset_password_url }}">Reset Password</a></p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Cabriot Team</p>
</body>
</html>
